.category-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
}
.category-scroll button {
  display: inline-block;
  margin-right: 10px;
  background: #000;
  border: none;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0.3rem 1.5rem;
  transition: all 0.3s ease-in;
}
.category-scroll button.active,
.category-scroll button:hover {
  background-color: #e8b10e;
  color: #000;
}
.menu-card{
  background-color: #fff;
  height: 50vh;
  color: #000;
  transition: transform 0.3s;
  margin: 0rem !important;
  padding: 0rem !important;
}
.menu-card:hover {
  transform: scale(1.03);
}
.menu-card img {
  height: 200px;
  object-fit: cover;
}
.menu-card>.card-body>.card-title {
  font-size: .9rem;
  text-transform: capitalize;
  font-weight: 600;
}
.menu-card>.card-body>.card-paragraph {
  width: 100%;
  color: #a09f9f;
  text-align: justify;
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
}
.menu-card>.card-body>.card-price {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}
#menuGrid{
  display: grid;
  grid-template-columns:auto auto auto auto;
  gap: 1.4rem;

}
.card-div{
  margin: 0;
  padding: 0;
}