/* NAVBAR MEDIA RESPONSIVE */
@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: flex;
  }
  .menu {
    display: none;
  }
  .nav-buttons {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }
  .menu-logo {
    font-size: 1.4rem;
    padding-left: 0;
  }
  #book-table {
    display: block;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.929);
  }
  #login {
    display: block;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.929);
  }
  #login a {
    color: rgba(255, 255, 255, 0.929);
    text-decoration: none;
  }
  .navbar-toggler-icon {
    color: aqua;
  }
  .about-paragraph {
    padding: 1rem;
  }
  .about-paragraph h4 {
    font-size: 1rem;
  }
  .about-paragraph h2 {
    font-size: 1.2rem;
  }
  .about-paragraph p {
    font-size: 14px;
  }
  .counters .counter-card {
    height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
  }
  .counters .counter-card:nth-child(1) {
    margin-top: 0rem;
  }
  .counters .counter-text h4 {
    font-size: 1.1rem;
  }
  .counters .counter-num span {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1185px) {
  .menu-logo {
    padding-left: 0rem;
  }
  .menu {
    justify-content: start; /* Menü öğelerini yatayda ortalar */
  }
  .menu-item {
    margin-left: 0rem;
  }
  .menu-item a {
    font-size: 15px;
    padding: 0 10px; /* Ekstra iç boşluk */
  }
  .nav-buttons {
    margin-right: 0rem;
  }

  .btn-yellow {
    font-size: 15px;
    margin-right: 0px;
    font-weight: 400;
  }
  .btn-yellow-border {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 830px) {
  .menu-logo {
    font-size: 1.2rem;
  }
  .menu {
    padding-left: 1rem;
  }

  .btn-yellow {
    width: 140px;
  }

  .btn-yellow-border {
    width: 90px;
  }
}

@media screen and (min-width: 830px) and (max-width: 890px) {
  .menu-logo {
    font-size: 1.4rem;
  }

  .menu {
    padding-left: 2rem;
  }
  .btn-yellow {
    width: 130px;
  }

  .btn-yellow-border {
    width: 100px;
  }
}
@media screen and (min-width: 890px) and (max-width: 930px) {
  .menu-logo {
    font-size: 1.6rem;
  }

  .menu {
    padding-left: 2rem;
  }

  .btn-yellow {
    width: 130px;
  }

  .btn-yellow-border {
    width: 120px;
  }
}

@media screen and (min-width: 930px) and (max-width: 1024px) {
  .menu-logo {
    font-size: 1.7rem;
  }
  .menu {
    justify-content: center; /* Menü öğelerini yatayda ortalar */
  }
}
@media screen and (min-width: 1024px) and (max-width: 1185px) {
  .menu {
    justify-content: center; /* Menü öğelerini yatayda ortalar */
  }
  .menu-item a {
    font-size: 16px;
    padding: 0 15px; /* Ekstra iç boşluk */
  }
  .btn-yellow {
    font-size: 16px;
    margin-right: 10px;
  }
  .btn-yellow-border {
    font-size: 16px;
  }
}

@media screen and (min-width: 1185px) and (max-width: 1284px) {
  .menu {
    justify-content: center; /* Menü öğelerini yatayda ortalar */
  }
  .menu-item a {
    font-size: 16px;
    padding: 0 5px; /* Ekstra iç boşluk */
  }
  .btn-yellow {
    font-size: 16px;
    margin-right: 10px;
  }
  .btn-yellow-border {
    font-size: 16px;
  }
  .nav-buttons {
    margin-right: 0rem;
  }
}
@media screen and (min-width: 1284px) and (max-width: 1458px) {
  .menu {
    justify-content: center; /* Menü öğelerini yatayda ortalar */
  }
  .menu-item a {
    font-size: 18px;
    padding: 0 5px; /* Ekstra iç boşluk */
  }
  .btn-yellow {
    width: 150px;
    font-size: 18px;
    margin-right: 10px;
  }
  .btn-yellow-border {
    width: 120px;
    font-size: 18px;
  }
  .nav-buttons {
    margin-right: 1rem;
  }
}

/* SLIDER MEDIA RESPONSIVE */
@media (max-width: 1536px) {
  .slider-wrapper .slider-item .slide-content,
  .slider-controls .slider-pagination {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .slider-wrapper .slider-item .slide-content,
  .slider-controls .slider-pagination {
    width: 100%;
  }
  .slider-wrapper .slider-item .slide-content > * {
    max-width: 66%;
  }
  .slider-navigations button {
    top: unset;
    bottom: -15px;
    background: none;
  }
  .slider-navigations button:hover {
    background: none;
  }

  /* user panel */
  .navbar-head > .logo {
    font-size: 1.5rem;
  }

  .sidebar {
    width: 25%;
  }
  .main {
    width: 75%;
  }
  #nav-toggle:checked + .sidebar {
    width: 5%;
  }
  #nav-toggle:checked ~ .main {
    width: 95%;
  }

  #nav-toggle:checked + .sidebar .sidebar-brand > .navbar-head > .logo,
  #nav-toggle:checked
    + .sidebar
    .sidebar-menu
    > .navbar-body
    > li.nav-item
    > a
    > span {
    padding-right: 0rem;
  }
  /* ------------------- */

  .main-content {
    padding: 1.2rem;
  }
  #active-reserv-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #active-reserv-card > .card > .card-footer > button {
    padding: 0.3rem 1.8rem;
  }
  h4.time-icon > .fa-regular {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .slider-wrapper .slider-item .slide-content > * {
    max-width: 100%;
  }
  .slider-item .slide-content .slide-title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .slider-item .slide-content .slide-descrition {
    font-size: 0.9rem;
    margin-top: 20px;
    line-height: 20px;
  }
  .slider-item .slide-content .slide-button {
    width: 0;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  @keyframes animate_button {
    100% {
      opacity: 1;
      width: 150px;
    }
  }
  .slider-pagination .slider-tab {
    font-size: 0.75rem;
    padding: 0px 30px;
    text-align: start;
  }
}

/* ----------------------------------------------------- */
/* DEFAULT SIZES RESPONSIVE */
/* the smaller device */
@media screen and (min-width: 320px) and (max-width: 360px) {
  .login-container {
    height: 68vh;
  }
}

/* small mobile */
@media screen and (max-width: 480px) {
  .team-section {
    display: block;
    padding: 0;
    justify-items: center;
  }
  .team-section .card {
    margin-bottom: 1.5rem;
  }
  .food-section {
    width: 90%;
    display: block;
  }

  .section-title h2 {
    font-size: 1.2rem;
  }
  .section-title h5 {
    font-size: 0.8rem;
  }

  .food-menu {
    width: 100%;
  }
  .food-menu .tabs-box {
    display: none;
  }

  .food-menu .content-box .content h2 {
    display: block;
  }
  .food-menu .content-box {
    padding: 0.5rem;
  }

  .food-menu .content-box .content {
    display: block;
    padding-top: 0.5rem;
  }
  .food-menu .content-box .content.active {
    display: grid;
    grid-template-columns: 100%;
  }

  .food-item {
    border-bottom: none;
  }
  .food-item img {
    width: 60px;
    height: 60px;
  }
  .food-details h1 {
    font-size: 0.9rem;
  }
  .food-details p {
    font-size: 0.7rem;
  }
  .food-price {
    font-size: 0.9rem;
  }
  dialog {
    width: 90%;
    padding: 0em;
  }

  dialog .form {
    width: 80%;
    max-width: 18rem;
  }
  .form .form-body {
    height: 27rem;
  }
  .form .form-body .pagination .number {
    width: 20px;
    height: 18px;
    line-height: 20px;
    font-size: 0.8rem;
  }
  .form .form-body .pagination .bar {
    width: 28px;
    height: 2px;
  }
  .form .steps {
    width: 390%;
  }
  .form .steps .step {
    width: 70vw;
    max-width: 32rem;
    padding: 0px;

    overflow: hidden;
  }
  .form .steps .step .grid {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .form .steps .step p {
    text-align: justify;
    width: 100%;
    font-size: 0.8rem;
  }
  .form .steps .step h4 {
    font-size: 1.1rem;
  }
  .form .form-footer button {
    width: 5rem;

    font-size: 0.8rem;
  }
  .reserv-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    /* width: 30rem; */
    /* padding: 2rem; */
    background-color: #fff;
  }
  .reserv-card .selection-item {
    height: 2.5rem;
  }
  .time-card .selection-item {
    height: 1.4rem;
    padding: 0.2rem;
  }
  .faq {
    border-bottom: 1px solid #000;
  }
  .question i {
    font-size: 0.9rem;
  }
  .question h3 {
    font-size: 1rem;
  }
  .answer p {
    font-size: 0.9rem;
  }
  dialog .close-btn {
    padding: 1rem 1rem 0 0 !important;
  }
  /* -------------------------------------------------LOGIN.CSS RESPONSIVE-------------------------------- */
  .icon-contianer {
    height: 10%;
    left: 2rem;
  }
  .back-arrow > a {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  p {
    width: 90%;
    font-size: 0.7rem;
  }

  input {
    width: 95%;
    padding: 7px;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .pass-div {
    width: 94%;
    font-size: 0.7rem;
  }
  button {
    padding: 8px;
    font-size: 0.8rem;
  }
  .dark-btn {
    width: 50%;
  }
  input[type="checkbox"] {
    accent-color: #eee;
    cursor: pointer;
    width: 0.7rem;
    height: 0.7rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    font-size: 0.8rem;
  }

  .right-side {
    display: none;
  }
  .user-sign-in-form .user-sign-in,
  .admin-sign-in-form .admin-sign-in {
    width: 100%;
    background-color: transparent !important;
    backdrop-filter: blur(30px);
  }
  .user-sign-in-form,
  .admin-sign-in-form {
    /* background: transparent;
     */
    background-color: transparent !important;
  }

  .top-btn-text {
    display: block;
  }
  .login-body {
    background-color: #eee;
    background: linear-gradient(180deg, #eee 0%, #e8b10e 100%);
  }
  .top-btn-text {
    display: block;
    font-size: 0.7rem;
    color: #fff;
    font-weight: 400;
  }
  .desktop-nav {
    width: 0%;
    height: 0vh;
    display: none;
  }

  .header {
    display: block;
  }
  /* -------------------------------------------------BANNER RESPONSIVE-------------------------------- */
  .banner {
    height: 15rem;
    padding-top: 2rem;
  }
  #banner-title {
    font-size: 1.3rem;
  }
  #banner-p {
    width: 100%;
    font-size: 0.9rem;
  }
  /* -------------------------------------------------SERVICES RESPONSIVE-------------------------------- */
  .service-intro {
    margin: 2rem 0rem 0rem 0rem !important;
  }

  .service-container {
    grid-template-columns: 100% !important;
  }

  .service-box {
    padding: 0rem 0.5rem !important;
  }
  .service-box h2 {
    font-size: 1.1rem;
    text-align: justify;
  }

  .service-box p {
    width: 100%;
    line-height: 1.5 !important;
    text-align: justify;
  }

  .services-card {
    grid-template-columns: auto;
    gap: 0rem;
    margin: 1rem 0rem !important;
  }
  .services-card .card {
    float: none;
  }

  .services-card .card .card-icon span {
    font-size: 2.5rem;
  }
  /* -------------------------------------------------CONTACT US RESPONSIVE-------------------------------- */
  .contact-content {
    grid-template-columns: 100% !important;
    gap: 0rem !important;
    padding: 0rem !important;
    margin: 0rem !important;
  }
  .left-section {
    border-right: none !important;
    padding: 1rem !important;
  }
  .left-section > div {
    padding: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
  .left-section > div > div.icon {
    font-size: 1.4rem !important;
  }

  .left-section > div > div.left-content {
    color: #fff;
    font-size: 0.9rem;
  }
  .right-section {
    width: 100% !important;
    padding: 0rem !important;
  }
  .right-section h4 {
    font-size: 1.2rem;
  }
  .right-section p {
    width: 100%;
    text-align: justify;
  }

  .right-section form > textarea {
    margin: 0 !important;
  }
  .send-btn {
    width: 100% !important;
    margin: 1rem 0rem !important;
    font-size: 0.9rem;
  }
  .map {
    margin-bottom: 1rem !important;
  }
  /* -------------------------------------------------ADMIN DASHBOARD US RESPONSIVE-------------------------------- */
  .cards {
    grid-template-columns: 1fr !important;
  }
  .cards > .card {
    gap: 1rem;
  }
  .statics {
    grid-template-columns: 1fr !important;
  }
  #chart {
    padding: 0rem !important;
    margin: 0px !important;
  }
  .right-section {
    padding: 2rem !important;
  }
  .reservation-manage {
    margin: 2rem 1rem !important;
  }
  .manage-sec-head {
    display: block !important;
  }
  #reservationsTable td {
    border: 1px solid #b3b2b2 !important;
  }

  #reservationsTable tr {
    border-bottom: 2px solid #000;
  }

  #searchInput {
    width: 100% !important;
  }

  #reservationsTable > tbody > tr > td:nth-of-type(1)::before {
    content: " Date ";
  }
  #reservationsTable > tbody > tr > td:nth-of-type(2)::before {
    content: "Time";
  }
  #reservationsTable > tbody > tr > td:nth-of-type(3)::before {
    content: "Name";
  }
  #reservationsTable > tbody > tr > td:nth-of-type(4)::before {
    content: "Number Of People";
  }
  #reservationsTable > tbody > tr > td:nth-of-type(5)::before {
    content: "Note";
  }
  #reservationsTable > tbody > tr > td:nth-of-type(6)::before {
    content: "Status";
    color: #000;
  }

  .change-password {
    margin: 1rem 1rem !important;
  }
}

/* mobile */
@media screen and (min-width: 481px) and (max-width: 769px) {
  .team-section {
    display: block;
    padding: 0;
    justify-items: center;
  }
  .team-section .card {
    margin-bottom: 1.5rem;
  }
  .mobile-header {
    width: 18%;
  }
  .icon-contianer {
    height: 12%;
    left: 2rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  p {
    width: 85%;
    font-size: 0.8rem;
  }

  input {
    width: 80%;
    padding: 9px;
  }
  .password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 0;
  }
  .pass-div {
    width: 78%;
    font-size: 0.8rem;
  }
  button {
    padding: 10px;
    font-size: 0.8rem;
  }
  .dark-btn {
    width: 35%;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    font-size: 0.8rem;
  }

  .right-side {
    display: none;
  }
  .user-sign-in-form .user-sign-in,
  .admin-sign-in-form .admin-sign-in {
    width: 100%;
    background-color: transparent !important;
    backdrop-filter: blur(30px);
  }
  .user-sign-in-form,
  .admin-sign-in-form {
    background: transparent;
  }

  .top-btn-text {
    display: block;
  }
  .login-body {
    background-color: #eee;
    background: linear-gradient(180deg, #eee 0%, #e8b10e 100%);
  }
}
/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .team-section {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 2rem;
  }
  .team-section .card {
    width: 100%;
    padding: 0rem;
  }
  .team-section .card:hover {
    height: 27rem;
  }
  .team-section .card .social-media {
    margin: 0rem 0rem 2rem;
  }

  .food-menu {
    width: 90%;
  }

  .food-menu .tabs-box .tab-btn {
    font-size: 0.8rem;
  }
  .food-menu .line {
    top: 3.5rem;
    left: 1.5rem;
    width: 5.5rem;
  }
  .food-menu .content-box {
    padding: 0.8rem;
  }
  .food-item img {
    width: 70px;
    height: 70px;
  }
  .food-details h1 {
    font-size: 0.9rem;
  }
  .food-details p {
    font-size: 0.6rem;
  }
  .food-price {
    font-size: 0.9rem;
  }
  .form .form-body {
    height: 25rem;
  }
  .time-card .selection-item {
    height: 1.5rem;
    padding: 0.2rem;
  }

  .dark-btn {
    width: 45%;
  }
  .light-btn {
    width: 60%;
  }
  .login-container {
    width: 95%;
    height: 80vh;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    text-align: center;
    width: 90%;
    font-size: 0.9rem;
  }
  input {
    width: 90%;
    padding: 6px;
    margin: 8px 0px;
  }
  .password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 0;
  }
  .pass-div {
    width: 88%;
    font-size: 0.9rem;
  }
  button {
    padding: 6px;
    font-size: 0.9rem;
  }
  .dark-btn {
    width: 35%;
  }
  .right-side .right-side-item h1 {
    font-size: 2rem;
  }
  .right-side .right-side-item p {
    padding: 0rem 1rem;
  }
  .light-btn {
    width: 60%;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    font-size: 0.9rem;
  }
}

/* laptop */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .team-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
  .team-section .card {
    width: 100%;
    height: 19rem;
  }
  .team-section .card:hover {
    height: 22rem;
  }

  .food-menu {
    width: 90%;
  }

  .food-menu .tabs-box .tab-btn {
    font-size: 1rem;
  }
  .food-menu .line {
    left: 1.8rem;
  }

  .food-item img {
    width: 75px;
    height: 75px;
  }
  .food-details h1 {
    font-size: 1rem;
  }
  .food-details p {
    font-size: 0.8rem;
  }
  .food-price {
    font-size: 1rem;
  }
  .light-btn {
    width: 60%;
  }
  .login-container {
    width: 90%;
    height: 80vh;
  }
  .form .form-body {
    height: 27rem;
  }
  .time-card .selection-item {
    height: 1.5rem;
  }
}
/* other screen */
@media screen and (min-width: 1366px) {
  .team-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
  .team-section .card {
    width: 100%;
    height: 23rem;
  }
  .team-section .card:hover {
    height: 25rem;
  }
}
/* ---------------------------------------------------------------------------- */

@media (max-width: 991px) {
  .desktop-nav {
    display: none; /* Desktop nav gizle */
  }

  .header {
    display: block; /* Mobile header göster */
  }

  .main {
    margin-left: 0; /* main içerik tam genişlik */
  }

  /* user panel */
  .navbar-head > .logo {
    font-size: 1.3rem;
  }
  .navbar-head > .dash-text {
    font-size: 1.1rem;
  }
  .sidebar {
    width: 30%;
  }
  .main {
    width: 70%;
  }
  #nav-toggle:checked + .sidebar {
    width: 8%;
  }
  #nav-toggle:checked ~ .main {
    width: 92%;
  }

  #nav-toggle:checked + .sidebar .sidebar-brand > .navbar-head > .logo,
  #nav-toggle:checked
    + .sidebar
    .sidebar-menu
    > .navbar-body
    > li.nav-item
    > a
    > span {
    padding-left: 0.4rem;
  }
  /* ------------------- */

  .reserv-card-user.reserv-card {
    background-color: transparent;
  }
  .main-body > .main-title > h1 {
    font-size: 1.4rem;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .main-body > .main-title > h4 {
    font-size: 0.8rem;
    color: #807f7f;
    margin: 0.4rem 0;
    padding: 0;
  }
  .steps {
    width: 90%;
    grid-template-columns: 100%;
    gap: 1.2rem;
  }
  .reserv-card-user.reserv-card .selection-item {
    width: 95%;
  }
  .send-btn {
    width: 85%;
    margin: 2rem auto;
  }
  .main-content {
    padding: 0.5rem;
  }
  #active-reserv-card {
    width: 85%;
    grid-template-columns: 1fr;
  }
  #active-reserv-card:nth-child(1) {
    margin: 0rem auto;
  }
  #active-reserv-card > .card > .card-header > p {
    margin: auto;
    text-align: center;
    font-size: 1rem;
  }
  #active-reserv-card > .card > .card-body > h4 {
    font-size: 1rem;
    padding: 0;
  }
  #active-reserv-card > .card > .card-footer {
    border: none;
  }
  #active-reserv-card > .card > .card-footer > button {
    padding: 0.3rem 3.5rem;
  }
  h4.time-icon > .fa-regular {
    font-size: 1.9rem;
  }

  th {
    display: none;
  }
  td {
    display: grid;
    grid-template-rows: 1fr auto;
  }
  td::before {
    font-weight: 700;
    text-transform: capitalize;
  }
  td:first-child {
    padding-top: 1.5rem;
  }
  td:last-child {
    padding-top: 1.5rem;
  }
  td:nth-of-type(1)::before {
    content: "Reservation Date & Time";
  }
  td:nth-of-type(2)::before {
    content: "Number Of People";
  }
  td:nth-of-type(3)::before {
    content: "Description";
  }
  th,
  td {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  /* user panel */
  .sidebar {
    width: 0%;
  }
  .main {
    width: 100%;
  }
  #nav-toggle:checked + .sidebar {
    width: 85%;
  }
  #nav-toggle:checked ~ .main {
    width: 15%;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand > .navbar-head > .logo > span,
  #nav-toggle:checked + .sidebar .sidebar-brand > .navbar-head > .dash-text,
  #nav-toggle:checked
    + .sidebar
    .sidebar-menu
    > .navbar-body
    > li.nav-item
    > a
    > span,
  #nav-toggle:checked
    + .sidebar
    .sidebar-menu
    > .navbar-footer
    > .nav-item
    > a
    > span {
    display: inline;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand > .navbar-head > .logo > img {
    width: 2.2rem;
    margin: 0rem 0.5rem 0rem 0rem;
    display: block;
  }

  #nav-toggle:checked + .sidebar .sidebar-menu > .navbar-body > li.nav-item {
    padding: 0rem;
    height: 50px;
    text-align: left;
    line-height: 50px;
    margin: 0rem;
    border-radius: 0px;
  }

  .reserv-card-user.reserv-card {
    background-color: transparent;
  }
  .main-body > .main-title > h1 {
    font-size: 1.4rem;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .main-body > .main-title > h4 {
    font-size: 0.8rem;
    color: #807f7f;
    margin: 0.4rem 0;
    padding: 0;
  }
  .steps {
    width: 90%;
    grid-template-columns: 100%;
    gap: 1.2rem;
  }
  .reserv-card-user.reserv-card .selection-item {
    width: 95%;
  }
  .send-btn {
    width: 85%;
    margin: 2rem auto;
  }
  .main-content {
    padding: 0rem;
  }
  #active-reserv-card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  #active-reserv-card:nth-child(1) {
    margin: 0rem auto;
  }
  #active-reserv-card > .card > .card-header > p {
    margin: auto;
    text-align: center;
    font-size: 1rem;
  }
  #active-reserv-card > .card > .card-body > h4 {
    font-size: 1rem;
    padding: 0;
  }
  #active-reserv-card > .card > .card-footer {
    border: none;
  }
  #active-reserv-card > .card > .card-footer > button {
    padding: 0.3rem 3.5rem;
  }
  h4.time-icon > .fa-regular {
    font-size: 1.9rem;
  }
  #past-reserv-section {
    text-align: center;
  }
  #past-reserv-section > table > tr > th {
    display: none;
  }
  #past-reserv-section > table > tr > td {
    display: grid;
    grid-template-rows: 1fr auto;
  }
  #past-reserv-section > table > tr > td::before {
    font-weight: 700;
    text-transform: capitalize;
  }
  #past-reserv-section > table > tr > td:first-child {
    padding-top: 1.5rem;
  }
  #past-reserv-section > table > tr > td:last-child {
    padding-top: 0.5rem;
  }
  #past-reserv-section > table > tr > td:nth-of-type(1)::before {
    content: "Reservation Date & Time";
  }
  #past-reserv-section > table > tr > td:nth-of-type(2)::before {
    content: "Number Of People";
  }
  #past-reserv-section > table > tr > td:nth-of-type(3)::before {
    content: "Description";
  }
  th,
  td {
    padding: 0.5rem;
  }
}
